<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="../vue.js"></script>
  </head>

  <body>
    <div id="app">
      <div
        class="goods"
        v-for="(goods, goodsIndex) in goodsList"
        :key="goods.id"
      >
        <div class="title">{{ goods.title }}:</div>
        <ul class="type-list">
          <li
            class="type"
            v-for="(type, typeIndex) in goods.typeList"
            :key="type"
            :class="{
                    active: typeIndex === goods.index
                }"
            @click="changeGoods(typeIndex, goods,type, goodsIndex)"
          >
            {{ type }}
          </li>
        </ul>
      </div>
      <div class="choose-type">
        <div class="title">已选条件：</div>
        <span class="no-goods" v-show="Object.keys(filterList).length === 0 "
          >暂时没哟已选条件</span
        >
        <ul class="filter-list">
          <li v-for="(item, goodsIndex) in filterList">
            {{ item }}
            <span class="delete-goods" @click="deleteGoods(goodsIndex)">X</span>
          </li>
        </ul>
      </div>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          filterList: {},
          goodsList: [
            {
              title: "上装",
              typeList: [
                "全部",
                "针织衫",
                "毛呢外套",
                "T恤",
                "羽绒服",
                "棉衣",
                "卫衣",
                "风衣",
              ],
              id: 1,
            },
            {
              title: "裤装",
              typeList: [
                "全部",
                "牛仔裤",
                "小脚/铅笔裤",
                "休闲裤",
                "打底裤",
                "哈伦裤",
              ],
              id: 2,
            },
            {
              title: "裙装",
              typeList: [
                "全部",
                "连衣裙",
                "半身裙",
                "长袖连衣裙",
                "中长款连衣裙",
              ],
              id: 3,
            },
          ],
        },
        methods: {
          changeGoods(typeIndex, goods, type, goodsIndex) {
            console.log(type, goodsIndex);
            goods.index = typeIndex;
            if (type === "全部") {
              vm.$delete(this.filterList, goodsIndex);

              return;
            }
            vm.$set(this.filterList, goodsIndex, type);

            // this.filterList.splice(goodsIndex,1,type)
            // vm.filterList.push(type)
          },
          deleteGoods(goodsIndex) {
            vm.$delete(this.filterList, goodsIndex);
            this.goodsList[goodsIndex].index = 0;
          },
        },
      });
      vm.goodsList.forEach((item) => vm.$set(item, "index", 0));
      // console.log(vm.goodsList,vm.goodsList[0]);
    </script>
  </body>
</html>
